<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head th:replace="template/template :: head">
    <meta charset="UTF-8">
    <title>Edit branch</title>

</head>
<body>
<header th:replace="template/template :: header"> </header>
<div class="container">
    <br>
    <h1 th:text="${title}"></h1>
</div>
<div class="container">
    <br>
    <form th:action="@{/views/branch/edit}" th:object="${branch}" method="post">
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="hidden" th:field="*{id}">
                    <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name" value="n@me">
                    <label for="name">Branch name</label>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}"></small>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" th:field="*{country}" class="form-control" id="country" placeholder="Country" value="Country">
                    <label for="country">Branch country</label>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('country')}"
                           th:errors="*{country}"></small>
                </div>
            </div>
        </div>
        <br>
        <div>
            <input type="submit" class="btn btn-primary" value="Edit"/>
        </div>
    </form>
</div>
<br>
<footer th:replace="template/template :: footer"> </footer>
</body>
</html>