<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head th:replace="template/template :: head">
    <meta charset="UTF-8">
    <title>Index</title>

</head>
<body>
    <header th:replace="template/template :: header"> </header>
    <div class="container">
        <br>
        <h2 id="spring-boot-web-application-mysql-crud-">Spring Boot Web Application MySQL (CRUD)</h2>
        <br>
        <p>We have an entity called Branch, which has the following properties:</p>
        <ul>
            <li>Integer id</li>
            <li>String name</li>
            <li>String country</li>
        </ul>
        <p>We also have a DTO called BranchDTO, which will have the same properties as the Branch entity, adding one:</p>
        <ul>
            <li>String type</li>
        </ul>
        <p>This property, depending on the country of the branch, must indicate whether it is &quot;EU&quot; or &quot;Non-EU&quot;. To do this, you can have a private list in the same DTO (for example: List<String> countries), with the countries that are part of the EU.</p>
        <p>Leveraging the JPA specification, you will need to persist the Branch entity to a MySql database, following the MVC pattern.</p>
        <p>The advice is that you use BranchDTO in the Controller and the View, and Branch in the Repository. The service layer will be in charge of translating between the two.
            For this, depending on the main package, you will create a package structure, where you will place the classes you need:</p>
        <ul>
            <li>cat.itacademy.barcelonactiva.cognoms.nom.s05.t01.n01.controllers</li>
            <li>cat.itacademy.barcelonactiva.surnames.nom.s05.t01.n01.model.domain</li>
            <li>cat.itacademy.barcelonactiva.surnames.nom.s05.t01.n01.model.dto</li>
            <li>cat.itacademy.barcelonactiva.surnames.nom.s05.t01.n01.model.services</li>
            <li>cat.itacademy.barcelonactiva.cognoms.nom.s05.t01.n01.model.repository</li>
        </ul>
        <p>The class located in the controllers package (BranchController, for example), must be able to respond to the following requests to update and consult information:</p>
        <ul>
            <li><a href="http://localhost:9000/branch/add">http://localhost:9000/branch/add</a></li>
            <li><a href="http://localhost:9000/branch/update">http://localhost:9000/branch/update</a></li>
            <li><a href="http://localhost:9000/sucursal/delete/{id}">http://localhost:9000/sucursal/delete/{id}</a></li>
            <li><a href="http://localhost:9000/sucursal/getOne/{id}">http://localhost:9000/sucursal/getOne/{id}</a></li>
            <li><a href="http://localhost:9000/branch/getAll">http://localhost:9000/branch/getAll</a></li>
        </ul>
        <p>As you can see, in the application.properties file, you must configure that the port to be used is 9000.</p>
        <p>The view must be developed with Thymeleaf.</p>
        <p>In order to make it more attractive, you can optionally use a CSS library that makes it easier for you, such as bootstrap, tailwind, material, etc.</p>
        <p>Very important:</p>
        <p>In addition to the Git link for the solved assignment, you must include at least two links, other than the resources we have provided you with on campus, that have helped you, or could have helped you, in solving the entire assignment or some parts.</p>
        <br>
        <br>

    </div>

    <footer th:replace="template/template :: footer"> </footer>
</body>
</html>